h1 {
    color: #e7e7e7;
  }
  
  #map {
    width: 100%;
    height: 40vh;
  }

  #about {
    max-height: 80vh;
    overflow-y: scroll;
  }

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {}

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    #map {
      height: 60vh;
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {

    #map {
      height: 80vh;
    }
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {}

  .legend {
    padding: 6px 8px;
    font-size: 1em;
    background: rgba(75, 75, 75, 0.8);
    color: whitesmoke;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 160px;
  }

  .legend h3 {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1em;
    color: whitesmoke;
    margin: 0;
  }

  .legend h3 span {
    font-size: 1.3em;
    margin: 0 20px 0 0;
  }

  .legend ul {
    list-style-type: none;
    padding: 0;
    margin: 12px 4px 0;
  }

  .legend li {
    height: 22px;
  }

  .legend span {
    width: 30px;
    height: 20px;
    float: left;
    margin-right: 10px;
  }

  #ui-controls {
    width: 176px;
    padding: 8px 25px 8px 15px;
    background: rgba(75, 75, 75, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: whitesmoke;
  }

  #ui-controls .min {
    float: left;
  }

  #ui-controls .max {
    float: right;
    margin-right: -15px;
  }

  .year-slider {
    width: 100%;
  }

  label {
    font-size: 1.1em;
    font-weight: bold;
  }